.LoginBody {
  background-color: #170106;
  display: grid;
  height: 100vh;
  place-items: center;
  margin: 0;
}

.input_common {
  width: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  background-color: #383434;
  color: #FFF600;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 18px;
}

.label_common {
  color: #FFF600;
  font-size: 20px;
}

.button_common {
  background-color: #FF005C;
  border-radius: 4px;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: blink;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;

}

.button_common:not(:last-child) {
  margin-right: 10px;
}


.button_common:hover {
  background-color: #FFF600 ; 
  color: black;
}

.login_div {
  height: 200px;
  display: block;
  align-items: center;
  justify-content: center;
}

#co_heading {
  color: #FFF600;
}
